# Data Grouping & Aggregation Exercises

##### Importing Libraries

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
sns.set()

##### Importing Data

In [162]:
o = pd.read_csv('olympics.csv')

##### Inspecting the DataFrame and Identifing the Inconsistent Data

In [164]:
o.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [11]:
o.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29216 entries, 0 to 29215
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          29216 non-null  object
 1   Edition       29216 non-null  int64
 2   Sport         29216 non-null  object
 3   Discipline    29216 non-null  object
 4   Athlete       29216 non-null  object
 5   NOC           29216 non-null  object
 6   Gender        29216 non-null  object
 7   Event         29216 non-null  object
 8   Event_gender  29216 non-null  object
 9   Medal         29216 non-null  object
dtypes: int64(1), object(9)
memory usage: 2.2+ MB

In [44]:
o['Sport'].unique()

array(['Aquatics', 'Athletics', 'Cycling', 'Fencing', 'Gymnastics',
       'Shooting', 'Tennis', 'Weightlifting', 'Wrestling', 'Archery',
       'Basque Pelota', 'Cricket', 'Croquet', 'Equestrian', 'Football',
       'Golf', 'Polo', 'Rowing', 'Rugby', 'Sailing', 'Tug of War',
       'Boxing', 'Lacrosse', 'Roque', 'Hockey', 'Jeu de paume', 'Rackets',
       'Skating', 'Water Motorsports', 'Modern Pentathlon', 'Ice Hockey',
       'Basketball', 'Canoe / Kayak', 'Handball', 'Judo', 'Volleyball',
       'Table Tennis', 'Badminton', 'Baseball', 'Softball', 'Taekwondo',
       'Triathlon'], dtype=object)

In [19]:
o.isna().sum()

City            0
Edition         0
Sport           0
Discipline      0
Athlete         0
NOC             0
Gender          0
Event           0
Event_gender    0
Medal           0
dtype: int64

##### Q. Find the total number of medals for each city, and indicate the type of medals

In [21]:
o.groupby("City")["Medal"].value_counts()

City       Medal
Amsterdam  Bronze    242
           Silver    239
           Gold      229
Antwerp    Gold      497
           Silver    446
                    ...
Sydney     Silver    667
           Gold      663
Tokyo      Bronze    343
           Silver    337
           Gold      330
Name: count, Length: 66, dtype: int64

##### Q. Find the total number of participants and indicating their gender in each year

In [23]:
o.groupby("Edition")["Gender"].value_counts()

Edition  Gender
1896     Men        151
1900     Men        501
         Women       11
1904     Men        458
         Women       12
1908     Men        789
         Women       15
1912     Men        855
         Women       30
1920     Men       1255
         Women       43
1924     Men        833
         Women       51
1928     Men        615
         Women       95
1932     Men        555
         Women       60
1936     Men        791
         Women       84
1948     Men        718
         Women       96
1952     Men        750
         Women      139
1956     Men        739
         Women      146
1960     Men        737
         Women      145
1964     Men        820
         Women      190
1968     Men        819
         Women      212
1972     Men        947
         Women      238
1976     Men        924
         Women      381
1980     Men        958
         Women      429
1984     Men        973
         Women      486
1988     Men       1011
         Women      535
1992     Men       1105
         Women      600
1996     Men       1082
         Women      777
2000     Men       1126
         Women      889
2004     Men       1099
         Women      899
2008     Men       1110
         Women      932
Name: count, dtype: int64

##### Q. List the medal type regarding the sport of 'Rugby' and the year of '1900'

In [200]:
o.groupby(['Edition','Sport']).get_group((1900, 'Rugby'))

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
502,Paris,1900,Rugby,Rugby,"AITOFF, Vladimir",FRA,Men,rugby,M,Gold
503,Paris,1900,Rugby,Rugby,"ALBERT, A.",FRA,Men,rugby,M,Gold
504,Paris,1900,Rugby,Rugby,"BINOCHE, Jean, LÃ©on",FRA,Men,rugby,M,Gold
505,Paris,1900,Rugby,Rugby,"COLLAS, Jean",FRA,Men,rugby,M,Gold
506,Paris,1900,Rugby,Rugby,"GAUTIER, Jean Guy",FRA,Men,rugby,M,Gold
507,Paris,1900,Rugby,Rugby,"GIROUX, Auguste",FRA,Men,rugby,M,Gold
508,Paris,1900,Rugby,Rugby,"GONDOUIN, Charles",FRA,Men,rugby,M,Gold
509,Paris,1900,Rugby,Rugby,"HENRIQUEZ DE ZUBIERRA, Constantin",FRA,Men,rugby,M,Gold
510,Paris,1900,Rugby,Rugby,"HERVE, Jean",FRA,Men,rugby,M,Gold
511,Paris,1900,Rugby,Rugby,"LARDANCHET, Victor",FRA,Men,rugby,M,Gold
512,Paris,1900,Rugby,Rugby,"LEFEBVRE, Hubert",FRA,Men,rugby,M,Gold
513,Paris,1900,Rugby,Rugby,"OLIVIER, Joseph",FRA,Men,rugby,M,Gold
514,Paris,1900,Rugby,Rugby,"PHARAMOND, Alexandre",FRA,Men,rugby,M,Gold
515,Paris,1900,Rugby,Rugby,"REICHEL, Frantz",FRA,Men,rugby,M,Gold
516,Paris,1900,Rugby,Rugby,"RISCHMANN, André",FRA,Men,rugby,M,Gold
517,Paris,1900,Rugby,Rugby,"ROOSEVELT, Albert",FRA,Men,rugby,M,Gold
518,Paris,1900,Rugby,Rugby,"SARRADE, Emile",FRA,Men,rugby,M,Gold
519,Paris,1900,Rugby,Rugby,"AMRHEIN, Albert",GER,Men,rugby,M,Silver
520,Paris,1900,Rugby,Rugby,"BAYLISS, F.C.",GBR,Men,rugby,M,Silver
521,Paris,1900,Rugby,Rugby,"BETTING, Hugo",GER,Men,rugby,M,Silver
522,Paris,1900,Rugby,Rugby,"BIRTLES, J.Henry",GBR,Men,rugby,M,Silver
523,Paris,1900,Rugby,Rugby,"CAUTLON, J.",GBR,Men,rugby,M,Silver
524,Paris,1900,Rugby,Rugby,"DARBY, Artur John",GBR,Men,rugby,M,Silver
525,Paris,1900,Rugby,Rugby,"DEYKIN, C.P.",GBR,Men,rugby,M,Silver
526,Paris,1900,Rugby,Rugby,"HERRMANN, Jacob",GER,Men,rugby,M,Silver
527,Paris,1900,Rugby,Rugby,"HOFMEISTER, Willy",GER,Men,rugby,M,Silver
528,Paris,1900,Rugby,Rugby,"HOOD, L.",GBR,Men,rugby,M,Silver
529,Paris,1900,Rugby,Rugby,"KREUZER, Hermann",GER,Men,rugby,M,Silver
530,Paris,1900,Rugby,Rugby,"LANDVOIGT, Arnold",GER,Men,rugby,M,Silver
531,Paris,1900,Rugby,Rugby,"LATSCHA, Hans",GER,Men,rugby,M,Silver
532,Paris,1900,Rugby,Rugby,"LOGAN, M.L.",GBR,Men,rugby,M,Silver
533,Paris,1900,Rugby,Rugby,"LOVEITT, H.A.",GBR,Men,rugby,M,Silver
534,Paris,1900,Rugby,Rugby,"LUDWIG, Erich",GER,Men,rugby,M,Silver
535,Paris,1900,Rugby,Rugby,"LUDWIG, Richard",GER,Men,rugby,M,Silver
536,Paris,1900,Rugby,Rugby,"MÜLLER, Fritz",GER,Men,rugby,M,Silver
537,Paris,1900,Rugby,Rugby,"NICOL, N.S.",GBR,Men,rugby,M,Silver
538,Paris,1900,Rugby,Rugby,"POPPE, Eduard",GER,Men,rugby,M,Silver
539,Paris,1900,Rugby,Rugby,"REITZ, Heinrich",GER,Men,rugby,M,Silver
540,Paris,1900,Rugby,Rugby,"SCHMIERER, August",GER,Men,rugby,M,Silver
541,Paris,1900,Rugby,Rugby,"SMITH, V.",GBR,Men,rugby,M,Silver
542,Paris,1900,Rugby,Rugby,"STOCKHAUSEN, Adolf",GER,Men,rugby,M,Silver
543,Paris,1900,Rugby,Rugby,"TALBOT, M.W.",GBR,Men,rugby,M,Silver
544,Paris,1900,Rugby,Rugby,"WALLIS, J.G.",GBR,Men,rugby,M,Silver
545,Paris,1900,Rugby,Rugby,"WENDEROTH, Georg",GER,Men,rugby,M,Silver
546,Paris,1900,Rugby,Rugby,"WHITTINDALE, Claud",GBR,Men,rugby,M,Silver
547,Paris,1900,Rugby,Rugby,"WHITTINDALE, Raymond",GBR,Men,rugby,M,Silver
548,Paris,1900,Rugby,Rugby,"WILSON, Francis Henry",GBR,Men,rugby,M,Silver

==========

# GOOD LUCK!